body{
    text-align: center;
}


@media screen and (max-width: 480px) {
    .todo{
        margin:2em;
<<<<<<< HEAD
        margin-top: auto;
        margin-bottom: auto;
=======
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
    }

    .informacion{
        background-color: rgba(248, 194, 75, 255);;
        width: 80%;
        border-radius: 1em;
        padding-top: 2em;
        padding-bottom: 2em;
<<<<<<< HEAD
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;

=======
        margin-left: auto;
        margin-right: auto;
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
    }

    .mapa{
        width:80%;
        margin-left: auto;
        margin-right: auto;
<<<<<<< HEAD
        padding-top: 2em;
        padding-bottom: 5em;
        margin-top: 4em;
=======
        padding-top: 3em;
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
    }

    iframe {

        width:100%;
        height: 100%;
        border-radius: 1em;
<<<<<<< HEAD
        

    }

    footer{
        position:absolute;
=======
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
    }
}

@media screen and (min-width: 481px) and (max-width: 768px)  {
    .todo{
        margin:2em;
    }

    .informacion{
        background-color: rgba(248, 194, 75, 255);;
        width: 60%;
        border-radius: 1em;
        padding-top: 2em;
        padding-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
    }

    .mapa{
        width:60%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3em;
    }

    iframe {

        width:100%;
        height: 100%;
        border-radius: 1em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px)  {
    .todo{
<<<<<<< HEAD
        margin-top: auto;
        margin-bottom: auto;
        padding:2em;   
=======
        display: flex;
        padding:2em;  
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
    }

    .informacion{
        background-color: rgba(248, 194, 75, 255);;
<<<<<<< HEAD
        width: 80%;
        border-radius: 1em;
        padding-top: 5em;
        padding-bottom: 5em;  
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto;
    }

    .mapa{
        width:100%;  
        height: 180%;


    }

    iframe {
        width:80%;
        height: 190%;
        margin-top: 5em;
        border-radius: 1em;

    }

    footer{
        position:absolute;
    }

=======
        width: 50%;
        border-radius: 1em;
        padding-top: 5em;
        padding-bottom: 5em;  
        margin-left: 2em;    
        margin-right: 2em;
    }

    .mapa{
        width:50%;  
    }

    iframe {
        width:90%;
        height: 100%;
        border-radius: 1em;

    }
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
}

@media screen and (min-width: 1280px) {
    .todo{
        display: flex;
        padding:2em;  
<<<<<<< HEAD

=======
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
    }

    .informacion{
        background-color: rgba(248, 194, 75, 255);;
<<<<<<< HEAD
        width: 40%;
=======
        width: 50%;
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
        border-radius: 1em;
        padding-top: 5em;
        padding-bottom: 5em;   
        margin-left: 3em;    
        margin-right: 2em;     
    }

    .mapa{
        width:50%;  
    }

    iframe {
        width:80%;
        height: 100%;
        border-radius: 1em;
    }
<<<<<<< HEAD
    footer{
        position:absolute;
    }
=======
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
}



