* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

img {
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100%; /* Set a small width */
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0


img:active {
  position: absolute;
  display: block;
  text-align: center;
  width: 50%;
}
<<<<<<< HEAD
=======
>>>>>>> 39f24a283b3288addcfce53648feca2072afbb00
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
