body{
    text-align: center;
}

@media screen and (max-width: 480px) {
<<<<<<< HEAD

  

=======
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
  .fotoPortada{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    padding-bottom: 1em;
  }
  
  .coleccionVideos{
    margin-top: auto;
    margin-bottom: auto;
  }

.videoPortada {
    width: 60%;
    border-radius: 3em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

  footer{
    position: absolute;
  }

=======
  }
  
.videoPortada {
    width: 60%;
    border-radius: 3em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .separacion {
    margin-top: 2em;
    
  }
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
}

@media screen and (min-width: 481px) and (max-width: 768px)  {
  .fotoPortada{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
.videoPortada {
    width: 60%;
    margin-bottom: 2em;
    border-radius: 3em;
    margin-left: auto;
    margin-right: auto;
  }

  .separacion {
    margin-top: 2em;
    
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px)  {
  .fotoPortada{
    width: 100%;
    padding: 0px;

  }
  
.videoPortada {
<<<<<<< HEAD
    width: 60%;
    padding:1em;
    padding-top: 2em;
=======
    width: 30%;
    padding:1em;
    padding-top: 2em;
    padding-bottom: 2em;
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
    border-radius: 3em;
    

  }
<<<<<<< HEAD

=======
>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
}

@media screen and (min-width: 1280px) {
  .fotoPortada{
    width: 100%;
    padding: 0px;

  }
  
.videoPortada {
    width: 30%;
    padding:2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 3em;
<<<<<<< HEAD
=======
    

>>>>>>> 8408623603c2cd7eeec1174c7417cff2da20b8f0
  }
}





