.parrafo,
.contentForm {
    font-size: 18px;
}

#floatLeft {
    text-align: center;
}

#floatLeft h2 {
    padding: 1em 0;
}


/*ORDENADORES*/

@media screen and (min-width: 1281px) {
    .parrafo {
        text-align: justify;
        column-count: 2;
        margin: 0 15em;
    }
    .parrafo p {
        margin: 0.5 0.5em;
        padding: 0.5em;
    }
}


/*TABLETS*/

@media screen and (min-width: 481px) and (max-width: 1280px) {
    .parrafo {
        text-align: justify;
        column-count: 2;
    }
}


/*MÓVILES*/

@media screen and (max-width: 480px) {
    .parrafo {
        text-align: justify;
        margin: 10px 10px;
    }
}


/*******************************************************FORMULARIO***********************************************************/


/*Mobile devices

    All labels must NOT be shown. Exception: radio and checkbox labels must be visible.
    Input fields must occupy the entire screen width.
    Forms must be centered.*/

@media screen and (max-width: 480px) {
    /*Añadir clase oculto para quitar el fieldset y que ocupe toda la pantalla y quitar las labels*/
    /*Elimino el padding de los lados para que ocupen toda la pantalla*/
    fieldset {
        padding: 0;
        border-radius: 5px;
    }
    .contentForm {
        padding: 1em 0;
        justify-content: center;
    }
    .contentForm div {
        text-align: center;
    }
    .contentForm input {
        margin: auto;
    }
    .checkbox label {
        margin-top: 2em;
    }
    .checkbox input {
        margin-top: 2em;
    }
    .elem-group {
        padding: 1em 0;
    }
    input,
    label {
        display: block;
        /*Permite que los campos se vean unos encima de otros*/
    }
    input {
        width: 100%;
        text-align: center;
        border-radius: 3px;
    }
    input:not(input[type="radio"], input[type="checkbox"]) {
        height: 2.5em;
    }
    /*Eliminar los label que se piden*/
    label[for="fname"],
    label[for="surname"],
    label[for="email"],
    label[for="id"],
    label[for="phone"],
    label[for="date"],
    label[for="time"],
    label[for="message"] {
        display: none;
    }
    fieldset {
        margin-bottom: 2em;
    }
}


/*Tablets

    labels must be shown above fields.
    select, text and textarea labels must be visible.
    radio and checkbox labels must be visible.
    Input fields must occupy 70% of the screen width.
    Forms must be centered.*/

@media screen and (min-width: 481px) and (max-width: 1280px) {
    .button {
        margin-bottom: 1em;
    }
    .contentForm {
        padding: 1em 2em;
        justify-content: center;
    }
    .contentForm div {
        text-align: center;
    }
    .contentForm input {
        margin: auto;
    }
    .checkbox label {
        margin-top: 2em;
    }
    .checkbox input {
        margin-top: 2em;
    }
    .elem-group {
        padding: 1em 2em;
    }
    input,
    label {
        display: block;
        /*Permite que los campos se vean unos encima de otros*/
    }
    input {
        width: 100%;
    }
    fieldset {
        margin-bottom: 1.5em;
    }
    legend {
        font-size: 24px;
    }
}


/*  Rest of screens:
    labels must be shown left side of the fields.
    All labels must be visible.*/

@media screen and (min-width: 1281px) {
    .contentForm {
        padding: 1em 10em;
        justify-content: center;
        display: flex;
    }
    fieldset {
        text-align: justify;
        column-count: 2;
        margin: 1em 15em;
    }
    .elem-group {
        display: inline-block;
        box-sizing: border-box;
        padding: 1em 2em;
    }
    .message {
        float: left;
        margin-bottom: 3px;
    }
    .checkbox {
        margin-top: 1.5em;
    }
    .first_name label {
        float: left;
    }
    input:hover,
    textarea:hover {
        box-shadow: 0 0 10px rgb(238, 213, 69);
    }
}

button {
    height: 50px;
    width: 150px;
    background: rgba(248, 194, 75, 255);
    border: none;
    color: white;
    font-size: 1.25em;
    border-radius: 4px;
    cursor: pointer;
}

.button {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

button:hover {
    border: 2px solid black;
}

legend {
    font-weight: bold;
}

.first {
    box-shadow: 0 0 8px rgba(248, 194, 75, 255);
}

.second {
    box-shadow: 0 0 8px rgba(243, 121, 122, 255);
}

.third {
    box-shadow: 0 0 8px rgba(123, 206, 209, 255);
}

input:not(input[type="radio"], input[type="checkbox"]) {
    height: 2.5em;
}